<%= form_with model: @trip do |f|%>



<div class= "field">
    <%= f.label :date, "Date: "%>
    <%= f.datetime_local_field(:date)%>
</div>

<div class = "field">
    <%= f.label :cost, "Cost: "%>
    <%= f.number_field(:cost, step: 0.05) %>
</div>

<div class = "field">
    <% if !@driver %>
    <%= f.label :driver_id, "Driver: "%>
    <%= f.select :driver_id, Driver.all.map{ |driver| [driver.name, driver.id]}%>
    <% else %>
    <%= f.hidden_field :driver_id %>
    <% end %>
</div>

<div class = "field">
    <% if !@passenger %>
    <%= f.label :passenger_id, "Passenger: "%>
    <%= f.select :passenger_id, Passenger.all.map{ |passenger| [passenger.name, passenger.id]  }%>
    <% else %>
    <%= f.hidden_field :passenger_id, :value => @passenger.id%>
    <% end %>
</div>

<% if @trip.date %>
    <div class= "field">
        <span>Rating<span>
        <%= f.radio_button(:rating, 1) %>
        <%= f.label(:rating, "1") %>
        <%= f.radio_button(:rating, 2) %>
        <%= f.label(:rating, "2") %>
        <%= f.radio_button(:rating, 3) %>
        <%= f.label(:rating, "3") %>
        <%= f.radio_button(:rating, 4) %>
        <%= f.label(:rating, "4") %>
        <%= f.radio_button(:rating, 5) %>
        <%= f.label(:rating, "5") %>
    </div>
<%end%>


<div class= "submit">
    <%= f.submit "Submit"%>
</div>

<%end%>
</div>