<% if @driver %>
    <h2><%=@driver.name.upcase%>'S TRIPS</h2>
<% elsif @passenger%>
    <h2><%=@passenger.name.upcase%>'S TRIPS</h2>
<%else%>
    <h2>BIG LIST OF TRIPS</h2>
<%end%>

<ul>
<% @trips.each do |trip| %>
                <li>
                <p>ID:<%= link_to trip.id, trip_path(trip.id) %></p>
                <p>DATE:<%= trip.date %></p>
                <p>RATING:<%= trip.rating %></p>
                <p>COST: $<%='%.2f'% ((trip.cost) /100)%></p>
                <p>PASSENGER:<%= trip.passenger ? (link_to trip.passenger.name, passenger_path(trip.passenger.id)) : "This passenger has been removed from the system." %></p>
                <p>DRIVER:<%= trip.driver ? (link_to trip.driver.name, driver_path(trip.driver.id)) : "This driver has been removed from the system."%> </p>
                </li>
            <%end%>
            
</ul>