<% if @driver %>
    <h2><%=@driver.name.upcase%>'S TRIPS</h2>
<% elsif @passenger%>
    <h2><%=@passenger.name.upcase%>'S TRIPS</h2>
<%end%>

<ul class= "big-list">
<li>
    <span>TRIP ID:</span>
    <span>DATE:</span>
    <span>RATING:</span>
    <span>COST:</span>
    <%unless params[:passenger_id]%>
        <span>PASSENGER:</span>
    <%end%>
    <% unless params[:driver_id]%>
        <span>DRIVER:</span>
    <%end%>
</li>
<% @trips.each do |trip| %>
                <li>
                <span><%= link_to trip.id, trip_path(trip.id) %></span>
                <span><%= trip.date %></span>
                <span><%= trip.rating ? trip.rating : "This trip hasn't been rated yet!"%></span>
                <span>$<%='%.2f'% ((trip.cost) /100)%></span>
                <% unless params[:passenger_id]%>
                    <span><%= trip.passenger ? (link_to trip.passenger.name, passenger_path(trip.passenger.id)) : "This passenger has been removed from the system." %></span>
                <%end%>
                <% unless params[:driver_id]%>
                    <span><%= trip.driver ? (link_to trip.driver.name, driver_path(trip.driver.id)) : "This driver has been removed from the system."%></span>
                <%end%>
                </li>
            <%end%>
            
</ul>