            <p>NAME: <%= @driver.name%></p>
            <p>VIN: <%= @driver.vin %></p>
            <p>AVERAGE RATING: <%= @driver.average_rating%></p>
            <p>TOTAL EARNINGS: <%= @driver.total_earnings%></p>
            <%= link_to "See #{@driver.name}'s trips", driver_trips_path(@driver.id) %>
            <%= link_to "Edit", edit_driver_path(@driver.id)%>
            <%= link_to "Delete",  driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure you want to delete this driver?"}%>

