<!DOCTYPE html>
<html>
  <head>
    <title>PiggyBack Ride</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li class="nav-item"><h1><%= link_to "piggyback", root_path %></h1></li>
          <li class = "nav-item">
            <h3>Drivers &#9663;</h3>
            <ul class="nav-drop-down">
              <li><%= link_to "List Drivers", drivers_path %></li>
              <li><%= link_to "Add a Driver", new_driver_path %></li>
            </ul>
          </li>
          <li class = "nav-item">
            <h3>Passengers &#9663;</h3>
            <ul class="nav-drop-down">
              <li><%= link_to "List Passengers", passengers_path %></li>
              <li><%= link_to "Add a Passenger", new_passenger_path %></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
